<!DOCTYPE html>
<html>

<body>
    <!-- Main Content -->
    <main th:fragment="hockey">
        <!-- Project Section -->
        <section class="page-section mb-0" id="project">
            <div class="container">
                <div class="row text-dark">
                    <div class="col-md-10 mx-auto">
                        <figure class="figure d-block mx-auto mb-5">
                            <a class="modal-img text-decoration-none" data-bs-toggle="modal" data-bs-target="#logo"
                                href="#">
                                <div class="modal-img fit-content mx-auto">
                                    <img class="img-fluid img-thumbnail d-block"
                                        th:src="@{/img/portfolio/hockey/hockey.png}" alt="NHL Stats Almanac logo">
                                </div>
                            </a>
                            <figcaption class="figure-caption text-dark mt-2 text-center">
                                NHL Stats Almanac logo
                            </figcaption>
                        </figure>

                        <div class="mb-5">
                            <h3 class="text-uppercase text-secondary mb-3">Project Details</h3>
                            <p class="lead">
                                <span class="fw-bold">Date:</span> October - December 2018
                            </p>
                            <p class="lead">
                                <span class="fw-bold">Project Type:</span> School Project, Team of 2 - Web Design, Full
                                Stack Development
                            </p>
                            <p class="lead">
                                <span class="fw-bold">Role:</span> Web Designer, Full Stack Developer
                            </p>
                            <p class="lead">
                                <span class="fw-bold">Tools:</span> HTML5, CSS3, PHP, MySQLi, Ajax, XAMPP, phpMyAdmin
                            </p>
                        </div>

                        <div class="mb-5">
                            <h3 class="text-uppercase text-secondary mb-3">Goal/Description</h3>
                            <p class="lead">
                                In a team of two, create a PHP website that uses external data stored in a MySQLi
                                database and provides additional features for registered users. We chose to create a NHL
                                stats website using the NHL API.
                            </p>
                        </div>

                        <div class="mb-5">
                            <h3 class="text-uppercase text-secondary mb-3">Process</h3>
                            <p class="lead">
                                The project began with the project proposal, followed by the Entity Relationship
                                Diagram, which outlined the structure of the website and the database tables needed.
                                Next we began designing the database and main pages of the website. I created the PHP
                                API calls to the NHL API to retrieve the team and player stats, as well as the MySQLi
                                queries to insert stats of new players into the database and to update the stats of
                                existing players. I was also in charge of designing the Ajax filters and pagination for
                                the search page, as well as creating the database tables and MySQLi queries to retrieve
                                the stats.
                            </p>
                        </div>

                        <figure class="figure d-block mx-auto mb-5">
                            <a class="modal-img text-decoration-none" data-bs-toggle="modal" data-bs-target="#home"
                                href="#">
                                <div class="modal-img fit-content mx-auto">
                                    <img class="img-fluid img-thumbnail d-block"
                                        th:src="@{/img/portfolio/hockey/hockey_home.png}"
                                        alt="Homepage with the user created fantasy teams list and the featured players and teams list">
                                </div>
                            </a>
                            <figcaption class="figure-caption text-dark mt-2 text-center">
                                Homepage with the user created fantasy teams list and the featured players and teams
                                list
                            </figcaption>
                        </figure>

                        <div class="mb-5">
                            <h3 class="text-uppercase text-secondary mb-3">Challenges</h3>
                            <p class="lead">
                                One challenge I ran into was accessing the data from the NHL API and updating the
                                database efficiently. This occurred because there was no official documentation from the
                                NHL and the only documentation of the NHL API was from an ongoing documentation project
                                created by Drew Hynes with community input on GitLab. I was able to decrease the
                                database update time by updating only the player list in the search page, and then
                                updating the team and player stats and details when the user views details of the
                                specific player/team. This however made the search filters inaccurate as the stats would
                                not be updated.
                            </p>
                        </div>

                        <div class="row mb-5 ">
                            <div class="col-lg mx-auto">
                                <figure class="figure d-block mx-auto">
                                    <a class="modal-img text-decoration-none" data-bs-toggle="modal"
                                        data-bs-target="#oldSearch" href="#">
                                        <div class="modal-img fit-content mx-auto">
                                            <img class="img-fluid img-thumbnail d-block"
                                                th:src="@{/img/portfolio/hockey/hockey_search_old.png}"
                                                alt="Player and team search page - First version with the search query displayed for testing">
                                        </div>
                                    </a>
                                    <figcaption class="figure-caption text-dark mt-2 text-center">
                                        Player and team search page - Final version
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="col-lg mx-auto">
                                <figure class="figure d-block mx-auto">
                                    <a class="modal-img text-decoration-none" data-bs-toggle="modal"
                                        data-bs-target="#search" href="#">
                                        <div class="modal-img fit-content mx-auto">
                                            <img class="img-fluid img-thumbnail d-block"
                                                th:src="@{/img/portfolio/hockey/hockey_search.png}"
                                                alt="Player and team search page - Final version">
                                        </div>
                                    </a>
                                    <figcaption class="figure-caption text-dark mt-2 text-center">
                                        Player and team search page - Final version
                                    </figcaption>
                                </figure>
                            </div>
                        </div>

                        <div class="mb-5">
                            <p class="lead">
                                Retrieving the data was difficult as data was spread out between separate API endpoints.
                                I solved the data retrieval issue by finding out that loading the NHL teams list give
                                the individual team IDs which could then be used to retrieve the team details, stats,
                                and rosters. From the rosters, I was then able to retrieve the individual player IDs to
                                get the player details and stats.
                            </p>
                        </div>

                        <div class="mb-5">
                            <h3 class="text-uppercase text-secondary mb-3">Results</h3>
                            <p class="lead">
                                The resulting website was noticeably faster and did not time out when updating the
                                database. The pagination and filters on the search page resulted in smoother, cleaner
                                search experience, allowing users to make more detailed searches, and large search
                                results lists to be viewed more easily in paged results instead of one single list.
                            </p>
                        </div>

                        <div class="row mb-5">
                            <div class="col-lg mx-auto">
                                <figure class="figure d-block mx-auto">
                                    <a class="modal-img text-decoration-none" data-bs-toggle="modal"
                                        data-bs-target="#player" href="#">
                                        <div class="modal-img fit-content mx-auto">
                                            <img class="img-fluid img-thumbnail d-block"
                                                th:src="@{/img/portfolio/hockey/hockey_player.png}"
                                                alt="Player stats page">
                                        </div>
                                    </a>
                                    <figcaption class="figure-caption text-dark mt-2 text-center">
                                        Player stats page
                                    </figcaption>
                                </figure>
                            </div>

                            <div class="col-lg mx-auto">
                                <figure class="figure d-block mx-auto">
                                    <a class="modal-img text-decoration-none" data-bs-toggle="modal"
                                        data-bs-target="#fantasy" href="#">
                                        <div class="modal-img fit-content mx-auto">
                                            <img class="img-fluid img-thumbnail d-block"
                                                th:src="@{/img/portfolio/hockey/hockey_fantasy.png}"
                                                alt="User created fantasy team roster page">
                                        </div>
                                    </a>
                                    <figcaption class="figure-caption text-dark mt-2 text-center">
                                        User created fantasy team roster page
                                    </figcaption>
                                </figure>
                            </div>
                        </div>

                        <div class="mb-5">
                            <h3 class="text-uppercase text-secondary mb-3">Reflection</h3>
                            <p class="lead">
                                Through this project, I learned how to use PHP, MySQLi, and Ajax. I also applied my web
                                design and web programming skills, resulting in a simple to use NHL stats database web
                                application. However, the database updating could have been better optimized to make the
                                user experience smoother. In the future, I could solve this issue by using cron/Task
                                Scheduler to update the database periodically. This would result in data not always
                                being up-to-date, but would reduce loading times drastically.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modals -->
        <div th:replace="~{fragments/modal :: modal('logo', 'hockey/hockey.png', 'NHL Stats Almanac logo')}">
        </div>

        <div
            th:replace="~{fragments/modal :: modal('home', 'hockey/hockey_home.png', 'Homepage with the user created fantasy teams list and the featured players and teams list')}">
        </div>

        <div
            th:replace="~{fragments/modal :: modal('oldSearch', 'hockey/hockey_search_old.png', 'Player and team search page - First version with the search query displayed for testing')}">
        </div>

        <div
            th:replace="~{fragments/modal :: modal('search', 'hockey/hockey_search_full.png', 'Player and team search page - Final version')}">
        </div>

        <div th:replace="~{fragments/modal :: modal('player', 'hockey/hockey_player.png', 'Player stats page')}">
        </div>

        <div
            th:replace="~{fragments/modal :: modal('fantasy', 'hockey/hockey_fantasy.png', 'User created fantasy team roster page')}">
        </div>
    </main>
</body>

</html>