<!DOCTYPE html>
<html th:fragment="layout (title, links, scripts, content)" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:replace="${title}">Christopher Louie</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script src="https://kit.fontawesome.com/fd77361902.js" crossorigin="anonymous"></script>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/jquery-ui/jquery-ui.css}">
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/portfolio.min.css}">
    <script th:src="@{/js/portfolio.min.js}"></script>

    <th:block th:replace="${links} ?: ~{}" />
    <th:block th:replace="${scripts} ?: ~{}" />

</head>

<body id="page-top" class="bg-white">

    <!-- Navigation -->
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" th:href="@{|${nav_links[0]}|}">Christopher Louie</a>
            <button class="navbar-toggler navbar-toggler-right fw-bold rounded shadow-none" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            th:href="@{|${nav_links[1]}|}">Portfolio</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            th:href="@{|${nav_links[2]}|}">About</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            th:href="@{|${nav_links[3]}|}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div th:replace="${content}">
        <!-- Masthead -->
        <header class="masthead bg-primary text-center">
            <div class="container col-md-10 d-flex align-items-center flex-column">

                <!-- Masthead Avatar Image -->
                <img class="masthead-avatar mb-5" th:src="@{/img/logo.svg}" alt="Chris Louie logo">

                <!-- Masthead Heading -->
                <h1 class="masthead-heading text-secondary mb-3">Christopher Louie</h1>

                <!-- Masthead Subheading -->
                <p class="masthead-subheading font-weight-light text-dark mb-0">Web Designer - Programmer - Game
                    Designer</p>

            </div>
        </header>
    </div>

    <!-- Copyright Section -->
    <footer class="footer py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; Christopher Louie 2019-<span class="current-year"></span></small>
        </div>
    </footer>

    <!-- Scroll to Top Button -->
    <div class="scroll-to-top to-top position-fixed align-items-center rounded">
        <span class="text-center text-white m-auto">
            <i class="fas fa-chevron-up"></i>
        </span>
    </div>
</body>

</html>