<!DOCTYPE html>
<html>

<body>
    <!-- Modal -->
    <div th:fragment="modal (id, image, alt)">
        <div aria-hidden="true" th:aria-labelledby="${id}" class="modal fade" th:id="${id}" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable fit-content"
                role="document">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body m-3 p-0">
                        <img class="img-thumbnail img-fluid d-block mx-auto" th:src="@{|/img/portfolio/${image}|}"
                            alt="${alt}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>